.custom-logo {
  .site-meta-headline {
    text-align: center;
  }

  .brand {
    background: none;
  }

  .site-title {
    margin: 10px auto 0;
    font-size: 24px;
    color: $black-deep;
    a {
      border: none;
    }
  }
}

.custom-logo-image {
  margin: 0 auto;
  padding: 5px;
  max-width: 150px;
  background: white;
  /* start*/
  border-radius: 50% #头像圆角
  transition: 2.5s all; #旋转动画时间
}
